.menu-container {
    position: absolute;
    top: 55px;
    right: 15px;
    background: white;
    width: auto;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 3px 12px rgba(0,0,0,0.2);
    z-index: 999;
  }
  
  .menu-container ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .menu-container li {
    padding: 10px;
    cursor: pointer;
    border-radius: 6px;
  }
  
  .menu-container li:hover {
    background: #f3f3f3;
  }
  
  .logout {
    color: #D32F2F;
    font-weight: bold;
  }
  