.login-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  /* padding: 2rem; */
  /* background-image: url('/assets/back1.jpg'); */
  /* background: linear-gradient(to right, #e8f5e9, #ffffff); */
}

@media (min-width: 768px) {
  .login-wrapper {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
  }

  .clinic-info {
    flex: 1;
    text-align: center;
    padding-right: 2rem;
  }

  .login-container {
    flex: 1.2;
    margin-left: auto;
    margin-right: auto;
    /* width: 450px; */
    height: 500px;
    /* margin-left: auto; */
    /* margin-right: 5vw;  */
    max-width: 350px;
    /* max-height: 800px; */
    background-color: #ffffff;
    border: 1px solid #83a7888d;
    border-radius: 8px;
    padding: 2rem;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.login-container h2 {
  text-align: center;
  margin-bottom: 1rem;
  color: #2e7d32;
}

.login-container form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-container form > div {
  width: 100%;
  margin-bottom: 1rem;
}


.login-container input:focus {
  border-bottom-color: #388e3c; /* verde más intenso al enfocar */
}


.form-group {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}

.form-group .material-icons {
  font-size: 24px;
  color: #757575;
  margin-right: 0.5rem;
  flex-shrink: 0;
}

.form-group input {
  flex: 1;
  padding: 0.8rem 0 0.2rem 0;
  border: none;
  border-bottom: 1px solid #ababab;
  background: transparent;
  font-size: 1rem;
  outline: none;
}

.form-group label {
  position: absolute;
  left: 2.5rem; /* espacio para el ícono */
  top: 0.8rem;
  color: #757575;
  font-size: 1rem;
  pointer-events: none;
  transition: 0.2s ease all;
}

.form-group input:focus + label,
.form-group input:valid + label {
  top: -0.6rem;
  font-size: 0.8rem;
  color: #388e3c;
}


.error {
  color: red;
  margin-top: 1rem;
  text-align: center;
}

.login-container button {
  width: 50%;
  margin: 1rem auto;
  padding: 0.8rem;
  background-color: #F48FB1;
  color: white;
  font-size: 1rem;
  font-weight: 500;
  border: none;
  border-radius: 24px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.login-container button:hover {
  background-color: #F06292;
}

