<div class="card">
     <img [src]="'http://localhost:8000/storage/'+paciente.foto" class="foto" />
     <!-- <img [src]="paciente.foto" class="foto" /> -->
     <div class="info">
      <h3>{{ paciente.nombre + ' '+ paciente.apellido }}</h3>
      <p>Telefono: {{ paciente.telefono }}</p>
      <!-- <p>Última cita: {{ paciente.ultimaCita| date:'dd MMM yyyy' }}</p> -->
      <!-- <p>Proxima cita: {{ paciente.proximaCita| date:'dd MMM yyyy' }}</p> -->
    </div>
    <!-- <div class="acciones">
      <button (click)="ver()">Ver</button>
      <button (click)="editar()">Editar</button>
      <button (click)="eliminar()">Eliminar</button>
    </div> -->
  </div>
