.card {
    background: #fff;
    box-shadow: 0 2px 6px rgba(0,0,0,0.05);
    border-radius: 8px;
    padding: 16px;
    width: 250px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    transition: box-shadow 0.2s ease;
  }
  
  .card:hover {
    box-shadow: 0 4px 12px rgba(0,0,0,0.2);
  }
  
  .foto {
    width: 100%;  /* Antes 100px */
    height: 200px; /* Antes 100px */
    border-radius: 10px;
    object-fit: cover;
    cursor: pointer;
    /* border: 3px solid #3f51b5; */
    transition: transform 0.2s ease;
  }
  
  .info h3 {
    margin: 0;
    font-size: 1.1rem;
    color: #333;
  }
  
  .info p {
    margin: 2px 0;
    font-size: 0.9rem;
    color: #666;
  }
  
  .acciones {
    display: flex;
    justify-content: space-between;
  }
  
  button {
    background: none;
    border: none;
    color: #007bff;
    cursor: pointer;
    font-size: 0.85rem;
  }
  