<div class="form-container">
  <form [formGroup]="consultorioForm">
    <div class="form-group">
      <label>
        <span class="material-symbols-outlined">
          medical_information
        </span>
        Nombre del consultorio
      </label>
      <input
        type="text"
        formControlName="clinic_name"
        placeholder="Nombre del consultorio"
      />
      <shared-form-error [control]="consultorioForm.get('clinic_name')"></shared-form-error>
    </div>

    <div class="form-group">
      <label>
        <span class="material-symbols-outlined">
          home_pin
        </span>
        Dirección
      </label>
      <input
        type="text"
        formControlName="address"
        placeholder="Dirección completa"
      />
      <shared-form-error [control]="consultorioForm.get('address')"></shared-form-error>
    </div>

    <div class="form-group">
      <label>
        <span class="material-symbols-outlined">
          phone
        </span>
        Teléfono
      </label>
      <input
        type="text"
        formControlName="phone"
        placeholder="Teléfono (10 dígitos)"
      />
      <shared-form-error [control]="consultorioForm.get('phone')"></shared-form-error>
    </div>

    <div class="form-group">
      <label>
        <span class="material-symbols-outlined">
          add_a_photo
        </span>
        Logotipo o imagen
      </label>
      <input
        type="file"
        id="logo"
        accept="image/*"
        class="form-control"
        (change)="onFileSelected($event)"
      />
    </div>

    <!-- Preview del logo (opcional) -->
    <!--
    <img
      *ngIf="previewSrc"
      [src]="previewSrc"
      alt="Preview del logo"
      class="preview-image"
    />
    -->

    <!-- <button class="btn-guardar" type="submit">
      <span class="material-symbols-outlined">check</span>
      Enviar
    </button> -->
  </form>
</div>
