<div class="form-container">
    <form [formGroup]="consultorioForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label>
            <span class="material-symbols-outlined">
                medical_information
            </span>
            Nombre del consultorio
        </label>
        <input type="text" formControlName="clinic_name" placeholder="Nombre del consultorio" />
        <!-- <shared-form-error [control]="personalForm.get('nombre')"></shared-form-error> -->
      </div>
  
      <div class="form-group">
        <label>
            <span class="material-symbols-outlined">
                home_pin
            </span>
            Dirección 
        </label>
        <input type="text" formControlName="address" placeholder="Dirección completa" />
        <!-- <shared-form-error [control]="personalForm.get('apellido')"></shared-form-error> -->
      </div>
      <div class="form-group">
        <label>
            <span class="material-symbols-outlined">
                phone
            </span>
            Telefono
        </label>
        <input type="text" formControlName="phone" placeholder="Telefono" />
        <!-- <shared-form-error [control]="personalForm.get('apellido')"></shared-form-error> -->
      </div>
<!--   
      <div class="form-group">
        <label>
            <span class="material-symbols-outlined">
                phone_enabled
            </span>
            Teléfono
        </label>
        <input type="text" formControlName="telefono" placeholder="Teléfono" />
        <shared-form-error [control]="personalForm.get('telefono')"></shared-form-error>


        clinic_name: ['', Validators.required],
          address: ['', Validators.required],
          phone: ['', [
            Validators.required,
            Validators.pattern(/^[0-9]{10}$/) // 10 dígitos
          ]],
          clinic_logo: [null]
      </div> -->

      <!-- <div class="form-group">
        <label>
            <span class="material-symbols-outlined">
                date_range
            </span>
            Fecha de nacimiento
        </label>
        <input type="date" formControlName="fecha_nacimiento" />
      </div> -->

      
      <div class="form-group">
        <label>
          <span class="material-symbols-outlined">
              add_a_photo
          </span>
          Logotipo o imagen
      </label>
        <input 
          type="file" 
          id="foto" 
          accept="image/*"
          class="form-control"
        >
      </div>

      <!-- preview de la foto del paciente, hay que moverlo a una ventana tipo modal -->
      <!-- <img *ngIf="previewSrc" [src]="previewSrc" alt="Preview de la imagen" /> -->

      
      
      <button class="btn-guardar" type="submit">
        <span class="material-symbols-outlined">check</span>
        Enviar
      </button>
      <!-- <div *ngIf="errorMsg" class="error">{{ errorMsg }}</div> -->
  
      <!-- <button type="submit" class="btn-guardar" [disabled]="cargando"> -->
        <!-- {{ cargando ? 'Guardando...' : 'Guardar paciente' }} -->
      <!-- </button> -->
    </form>
  </div>
  
