<div class="container-form" *ngIf="showForm; else actualizado">
  <h2 class="step-title">Actualiza tu contraseña</h2>

  <form [formGroup]="passwordForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <span class="material-symbols-outlined">lock</span>
      <input
        type="password"
        formControlName="password"
        required
        autocomplete="new-password"
      />
      <label>Contraseña</label>
      <shared-form-error [control]="passwordForm.get('password')"></shared-form-error>
    </div>

    <div class="form-group">
      <span class="material-symbols-outlined">sync_lock</span>
      <input
        type="password"
        formControlName="confirmPassword"
        required
        autocomplete="new-password"
      />
      <label>Confirmar contraseña</label>
      <shared-form-error [control]="passwordForm.get('confirmPassword')"></shared-form-error>
    </div>

    <!-- <button type="submit">
      <span class="material-symbols-outlined">check</span>
      Actualizar
    </button> -->
  </form>
</div>

<ng-template #actualizado>
  <p>
    Por seguridad ya no puedes cambiar la contraseña mientras configuras tu
    cuenta por primera vez, pero podrás modificarla al finalizar, entrando en
    la configuración del sistema.
  </p>
  <!-- <button type="button" (click)="onNext()">
    Seguir configurando
  </button> -->
</ng-template>
