    <!-- <div class="clinic-info">
      <img src="ruta-del-icono.svg" alt="Icono clínica" class="clinic-icon" />
      <h1 class="clinic-name">Consultorio Vida Natural</h1>
    </div> -->
  
      <h2>Actualiza tu contraseña</h2>
      <form [formGroup]="passwordForm" (ngSubmit)="onSubmit()" >
        <!-- <div class="form-group">
          <span class="material-symbols-outlined">account_circle</span>
          <input type="email" formControlName="email" required />
          <label>Email</label>
        </div> -->
        
        <div class="form-group">
          <span class="material-symbols-outlined">lock</span>
          <input type="password" formControlName="password" required />
          <label>Contraseña</label>
        </div>

        <div class="form-group">
            <span class="material-symbols-outlined">sync_lock</span>
            <input type="password" formControlName="confirmPassword" required />
            <label>Confirmar contraseña</label>
          </div>
  
        <button type="submit">
          <span class="material-symbols-outlined">check</span>
          Actualizar
        </button>
      </form>
  
      <!-- <p *ngIf="errorMsg" class="error">{{ errorMsg }}</p> -->
    
  
    <!-- [formGroup]="loginForm" (ngSubmit)="onSubmit()"
     
    -->