<div class="user-page">
    <div class="user-header">
      <div class="foto-container" (click)="updatePhoto()">
        <img [src]="user?.photo || 'assets/images/default-user.png'" class="user-foto" />
      </div> 
         <div class="user-info">
        <h2>{{ user?.name | uppercase }}</h2>
        <p>Email: {{ user?.email }}</p>
        <p>Teléfono: {{ user?.phone }}</p>
        <p>Especialidad: {{ user?.work_schedule }}</p>
      </div>
    </div>
  
    <div class="user-actions">
       <button class="btn-material" (click)="editarUser()">Guardar cambios</button> 
    </div>
  </div>
  