<aside class="sidebar">
    <h2 class="titulo">Menu</h2>
    <nav>
      <a routerLink="/dashboard" routerLinkActive="activo">
        <span class="material-icons">dashboard</span> Dashboard
      </a>
      <a routerLink="/pacientes" routerLinkActive="activo">
        <span class="material-icons">people</span> Pacientes
      </a>
      <a routerLink="/citas" routerLinkActive="activo">
        <span class="material-icons">event</span> Citas
      </a>
      <a routerLink="/pagos" routerLinkActive="activo">
        <span class="material-icons">payment</span> Pagos
      </a>
      <a routerLink="/reportes" routerLinkActive="activo">
        <span class="material-icons">description</span> Reportes
      </a>
      <a routerLink="/settingSystem" routerLinkActive="activo">
        <span class="material-icons">settings</span> Configuración
      </a>
    </nav>
  </aside>
  