.sidebar {
    width: 150px;
    height: 50%;
    background-color: rgba(rgb(255, 255, 255), rgb(255, 255, 255), rgb(255, 255, 255), 0.5);
    padding: 1rem;
    margin-left: 0px;
    margin-top: 50%;
    /* border: 1px solid #ddd; */
    border-radius: 1em;
    display: flex;
    flex-direction: column;
    box-shadow: 10px 5px 8px rgba(122, 122, 122, 0.658);
  }
  
  .titulo {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 2rem;
    color: #333;
  }
  
  nav a {
    display: block;
    margin-bottom: 1rem;
    text-decoration: none;
    color: #333;
    font-weight: 450;
    cursor: pointer;
  }
  
  nav a.activo {
    color: #06aa66;
    border-left: 4px solid #06aa66;
    padding-left: 0.5rem;
    background-color: #e9f2ff;
    border-radius: 2px;
  }
  