<div class="topbar">
    <div class="left">
      <img src="assets/user.png" alt="Perfil" class="logo" />
      <span class="name-company">facturas emitidas</span>
    </div>
  
    <div class="right">
      <button class="icon-button">
        <span class="material-icons">notifications</span>
        <span class="badge">3</span>
      </button>
  
      <div class="user-menu">
        <img src="assets/user.png" alt="Perfil" class="avatar" />
        <span class="username">Dr. Pedro</span>
        <i class="fas fa-chevron-down"></i>
      </div>
    </div>
  </div>
  