<div class="topbar">
    <div class="left">
      <img src="assets/user.png" alt="Perfil" class="logo" />
      <span class="name-company">facturas emitidas</span>
    </div>
  
    <div class="right">
      <button class="icon-button">
        <span class="material-symbols-outlined">notifications</span>
        <span class="badge">3</span>
      </button>
  
      <div class="user-menu" (click)="toggleMenu($event)" *ngIf="authService.user$ | async as user">
        <img src="assets/user.png" alt="Perfil" class="avatar" />
        <span class="username"><strong>{{user.name}} </strong> </span>
        <!-- <i class="fas fa-chevron-down"></i> -->
      </div>

      <div #menuRef>

      <shared-user-menu
      class="animate__animated animate__fadeIn"
      *ngIf="menu">
      </shared-user-menu>
      </div>
    </div>
    
  </div>
  