<div class="form-container">
  <form [formGroup]="personalForm">
    <div class="form-group">
      <label>
        <span class="material-symbols-outlined">
          person
        </span>
        Nombre(s)
      </label>
      <input
        type="text"
        formControlName="name"
        placeholder="Nombre(s)"
      />
      <shared-form-error [control]="personalForm.get('name')"></shared-form-error>
    </div>

    <div class="form-group">
      <label>
        <span class="material-symbols-outlined">
          person_text
        </span>
        Apellidos
      </label>
      <input
        type="text"
        formControlName="last_name"
        placeholder="Apellidos"
      />
      <shared-form-error [control]="personalForm.get('last_name')"></shared-form-error>
    </div>

    <div class="form-group">
      <label>
        <span class="material-symbols-outlined">
          school
        </span>
        Título o carrera profesional
      </label>
      <input
        type="text"
        formControlName="degree"
        placeholder="Título o carrera profesional"
      />
      <shared-form-error [control]="personalForm.get('degree')"></shared-form-error>
    </div>

    <div class="form-group">
      <label>
        <span class="material-symbols-outlined">
          assignment
        </span>
        Especialidad
      </label>
      <input
        type="text"
        formControlName="speciality"
        placeholder="Especialidad"
      />
      <shared-form-error [control]="personalForm.get('speciality')"></shared-form-error>
    </div>

    <div class="form-group">
      <label>
        <span class="material-symbols-outlined">
          id_card
        </span>
        Cédula profesional
      </label>
      <input
        type="text"
        formControlName="profesional_license"
        placeholder="Cédula profesional"
      />
      <shared-form-error [control]="personalForm.get('profesional_license')"></shared-form-error>
    </div>

    <div class="form-group">
      <label>
        <span class="material-symbols-outlined">
          add_a_photo
        </span>
        Foto de usuario
      </label>
      <input
        type="file"
        id="foto"
        accept="image/*"
        class="form-control"
        (change)="onFileSelected($event)"
      />
    </div>

    <!-- Preview de la foto del usuario (opcional) -->
    <!--
    <img
      *ngIf="previewSrc"
      [src]="previewSrc"
      alt="Preview de la imagen"
      class="preview-image"
    />
    -->

    <!-- <button class="btn-guardar" type="submit">
      <span class="material-symbols-outlined">check</span>
      Enviar
    </button> -->
  </form>
</div>
